%for-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

%for-container {
    height: 800px;
    border-radius: 100px;
    border: 2px solid black;
    max-width: 800px;
}

%border-for-input {
    border: none;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(235, 242, 255, 0.8);
}
